
.menuItem {
    background-repeat: no-repeat;
    color:hsl (200, 75%,25%);
    font-weight: 400;
    background-size: 0% 0%;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
   
    .menuItem:hover {
      background-image: linear-gradient(120deg, #fcea5f 0%, #fcea5f 100%);
      background-size: 100% 0.4em;
      font-weight: 400;
    }
