.menuItem {
  background-repeat: no-repeat;

  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #a8a8a8;
}

.menuItemActive {
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffd700;
  border-radius: 12px;
  display: inline-block;
  padding: 2px 12px;

  bottom: 0;
}
.menuItem:hover {
  color: #333333;
  transition: ease 0.2s;
}
@media (max-width: 767px) {
  .header-style {
    margin-bottom: 0rem;
  }
  .item-list {
    margin-left: 2rem !important;
    display: none;
  }
  .menuItem {
    display: none;
    font-size: 16px;
    margin-left: 0em;
    line-height: 1;
  }
  .menu-list {
    display: none;
    padding-left: 0em;
  }
}

.item-list {
  display: inline-block;
  margin-right: 1.5rem;
  margin-left: 0rem;
  margin-bottom: 0rem;
}

.menu-list {
  margin-top: 4rem;
  margin-left: 0em;
  margin-bottom: 0em;
  list-style: none;
}

.pl-black {
  color: #333333;
}

.pl-gray {
  color: #838587;
}

.pl-light-gray {
  color: #c2c2c2;
}

.pl-yellow {
  color: #ffd700;
}

.pl-light-yellow {
  color: #fdedd3;
}

.pl-bg-color {
  background-color: #f9f9f9;
}

.border-b {
  border-bottom-width: 3px !important;
}

.mb-text {
  padding: 0rem 0 1rem 0;
}
*,
:after,
:before {
  border: 0 solid #dfe4e7;
}

.border-gray-light {
  border-color: #e6e6e6;
}

.border-yellow {
  border-color: #ffd700;
}

.items-baseline {
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.mb {
  margin-bottom: 40px !important;
  margin-bottom: 2.5rem !important;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none !important;
  font-weight: 700;

  font-size: 18px;
  color: #333333;
}

.breaker {
  margin: 4rem;
}

a:hover {
  opacity: 0.75;
}
.up {
  text-transform: uppercase;
}

.fl-r {
  margin: 0 0 0 auto;
  float: right;
}

.mb-2 {
  margin-bottom: -3px;
}
